body {
    font-family: 'Arial', sans-serif;

    background-image: url(' https://i.pinimg.com/564x/b0/bc/b2/b0bcb23171e24c59f9ff067d24e6d776.jpg'); 
    background-size: fill;
    color: #fff; 
  }

  h1 {
    background-color: rgba(255, 255, 255, 0.5); 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;  
    font-size: 50px;
    color: rgb(17, 17, 17);
    text-align: center;
    
  }

  p {
    background-color: rgba(12, 12, 12, 0.5); 
    font-weight: 400;  
    padding: 10px;
   color: rgb(238, 229, 229);
    font-size: 25px;
    text-align: left;
    max-width: 850px;
   position: fixed;
   margin-top: 40px;
    margin-left: 140px;
  }
 

  .unique-image  {
 
  width: 210px; 
  height: auto;  
  margin-top: 2px;  
  margin-left: 70%;   
  position: fixed;
 
}

.card-container{
  position: fixed;
  margin-top: 300px;
  margin-left: 15%;
}

.about-card{
  width: 270px;
}
.img-1  {
 
  width: 300px; 
  height: auto;  
 
 
}


h3{
  color: black;
}

h5{
  color: black;
}

