 <!DOCTYPE html>
 <html lang="en">
 <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/about.css">
    <title> About me</title>
 </head>
 <body>
       
  

  <div class="col-12"><p> Hello I am Vince kenneth L. Olemberio,
   I am 19 yrs. old. I am currently residing at Pol-oton, Manolo Fortich , Bukidnon, Philippines.
   I am a Second year Student at Northern Bukidnon State College with the course of Bachelor of Science in Information Technology.
   My Hobbies are reading manhwass, watching animes and streaming kpop. </p>
 
   <img src="img/vince.jpg" alt="binns"></div>

 

 </body>
 </html>