<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="./css/contact.css">
    <title>Contact Me</title>
</head>
<body>

    
    <div class="container card-container">

        <div class="row">
            <div class="col-lg-4">
                <div class="card about-card">
                    <img src="  https://i.pinimg.com/originals/80/f7/6a/80f76ac64d7cbbf73475b65aff6766ce.gif"
                        class="card-img-top" alt="Image 2">
                    <div class="card-body text-center">
                        <h3 class="card-title"> Phone</h3>
                        <h5 class="card-text"> 0965 037 4328 </h5>
                    </div>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="card about-card">
                    <img src="https://i.pinimg.com/originals/cb/d4/56/cbd45614b43ab8321ac8140dc54863bb.gif "
                        class="card-img-top" alt="Image 3">
                    <div class="card-body text-center">
                        <h3 class="card-title"> Facebook</h3>
                        <h5 class="card-text"> @Vince Olemberio , https://web.facebook.com/vince.olemberio</h5>
                    </div>
                </div>
            </div>
            
            <div class="col-lg-4">
                <div class="card about-card">
                    <img src=" https://i.pinimg.com/originals/d9/f8/ba/d9f8ba824a825139517726b275ccf743.gif"
                        class="card-img-top" alt="Team Syn-Tech">
                    <div class="card-body text-center">
                        <h3 class="card-title"> E-mail</h3>
                        <h5 class="card-text">  vince.olemberio2004@gmail.com</h5>
                    </div>
                </div>
            </div>


        </div>
    </div>

   
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

</body>

</html>
